Antonio Terceiro <terceiro@softwarelivre.org> <terceiro@colivre.coop.br>
João M. Miranda <joaomm88@gmail.com> <joaomm@jmms.(none)>
Paulo Meirelles <paulo@softwarelivre.org> <paulormm@mercurio.eclipse.ime.usp.br>
