Antonio Terceiro <terceiro@softwarelivre.org> <terceiro@colivre.coop.br>
Antonio Terceiro <terceiro@softwarelivre.org> <terceiro@dcc.ufba.br>
João M. Miranda <joaomm88@gmail.com> <joaomm@jmms.(none)>
João M. Miranda <joaomm88@gmail.com> <joaomm88@gmail.com>
Paulo Meirelles <paulo@softwarelivre.org> <paulormm@mercurio.eclipse.ime.usp.br>
Joenio Costa <joenio@joenio.me> <joenio@perl.org.br>
Joenio Costa <joenio@joenio.me> <joenio@colivre.coop.br>
Lucas Kanashiro <kanashiro.duarte@gmail.com> <lucas-kanashiro@hotmail.com>
Lucas Kanashiro <kanashiro.duarte@gmail.com> <lucas-kanashiro@hotmail>
Lucas Kanashiro <kanashiro.duarte@gmail.com> <lucas-kanashiro@live.com>
Athos Ribeiro <athoscribeiro@gmail.com> <athosxd@gmail.com>
João Paulo Ferreira <iamferreirajp@gmail.com> <iamferreirajp@gmail.com>
João Paulo Busche <joaopaulo.busche@gmail.com> <joaopaulo.busche@gmail.com>
Macartur Sousa <macartur.sc@gmail.com> <macartur.sc@gmail.com>
