Antonio Terceiro <terceiro@softwarelivre.org> <terceiro@colivre.coop.br>
Antonio Terceiro <terceiro@softwarelivre.org> <terceiro@dcc.ufba.br>
João M. Miranda <joaomm88@gmail.com> <joaomm@jmms.(none)>
João M. Miranda <joaomm88@gmail.com> <joaomm88@gmail.com>
Paulo Meirelles <paulo@softwarelivre.org> <paulormm@mercurio.eclipse.ime.usp.br>
Joenio Costa <joenio@joenio.me> <joenio@perl.org.br>
Joenio Costa <joenio@joenio.me> <joenio@colivre.coop.br>
Athos Ribeiro <athoscribeiro@gmail.com> <athosxd@gmail.com>
Bruno Pinheiro <bbraganca1991@gmail.com> <bbraganca1991@gmail.com>
Igor Duarte <igor.ribeiro.duarte@gmail.com> <igor.ribeiro.duarte@gmail.com>
Lucas Kanashiro <kanashiro.duarte@gmail.com> <lucas-kanashiro@hotmail.com>
