Source: analizo
Section: devel
Priority: extra
Maintainer: Antonio Terceiro <terceiro@softwarelivre.org>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep:
 cucumber,
 file,
 rake,
 ruby-rspec,
 libtest-class-perl,
 libtest-exception-perl,
 libtest-mockmodule-perl,
 libtest-mockobject-perl,
 doxyparse (>= 1.5.8-12~),
 git,
 man,
 ruby,
 sloccount,
 sqlite3,
 libchi-perl,
 libclass-accessor-perl,
 libdbd-sqlite3-perl,
 libdbi-perl,
 libdigest-sha-perl,
 libfile-copy-recursive-perl,
 libfile-homedir-perl,
 libfile-share-perl,
 libfile-sharedir-perl,
 libgraph-perl,
 libgraph-writer-dsm-perl (>= 0.005),
 libjson-perl,
 liblist-compare-perl,
 libmojolicious-perl,
 libstatistics-descriptive-perl,
 libterm-progressbar-perl,
 libyaml-perl,
 libyaml-tiny-perl,
 libzmq-libzmq2-perl
Standards-Version: 3.9.1
Homepage: http://analizo.org
DM-Upload-Allowed: yes

Package: analizo
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
 doxyparse (>= 1.5.8-12~),
 git,
 man,
 ruby,
 sloccount,
 sqlite3,
 libchi-perl,
 libclass-accessor-perl,
 libdbd-sqlite3-perl,
 libdbi-perl,
 libdigest-sha-perl,
 libfile-copy-recursive-perl,
 libfile-homedir-perl,
 libfile-share-perl,
 libfile-sharedir-perl,
 libgraph-perl,
 libgraph-writer-dsm-perl (>= 0.005),
 libjson-perl,
 liblist-compare-perl,
 libmojolicious-perl,
 libstatistics-descriptive-perl,
 libterm-progressbar-perl,
 libyaml-perl,
 libyaml-tiny-perl,
 libzmq-libzmq2-perl
Recommends: graphviz
Description: multi-language source code analysis toolkit
 Analizo parses source code in multiple languages and report useful information
 about it, such as module dependency, source code metrics and more.
 .
 Analizo uses doxyparse to parse the source code, and is currently tested and
 expected to work well with C, C++ and Java source code.
