Source: egypt
Section: devel
Priority: extra
Maintainer: Antonio Terceiro <terceiro@softwarelivre.org>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.gson.org/egypt/
DM-Upload-Allowed: yes

Package: egypt
Architecture: all
Recommends: gcc, graphviz
Description: extracts call graph information from GCC RTL output
 Egypt is a devilishly simple tool for creating call graphs of C programs.
 Egypt neither analyzes source code nor lays out graphs. Instead, it leaves
 the source code analysis to GCC and the graph layout to Graphviz, both of
 which are better at their respective jobs than egypt itself could ever hope
 to be. Egypt is simply a very small Perl script that glues these existing
 tools together. 
