Source: analizo
Section: devel
Priority: extra
Maintainer: Antonio Terceiro <terceiro@softwarelivre.org>
Build-Depends: debhelper (>= 7.0.50~)
# Please do not update the Build-Depends-Indep field directly. Update
# Makefile.PL first, then run debian/refresh script
Build-Depends-Indep:
 clang-3.5,
 rake,
 ruby-rspec,
 libfile-copy-recursive-perl,
 libfile-libmagic-perl,
 libfile-slurp-perl,
 libmethod-signatures-perl,
 libtest-bdd-cucumber-perl,
 libtest-class-perl,
 libtest-exception-perl,
 libtest-mockmodule-perl,
 libtest-mockobject-perl,
 doxyparse (>= 1.8.11),
 g++ (>= 4.8~),
 gcc (>= 4.8~),
 git,
 man,
 ruby,
 sloccount,
 sqlite3,
 libapp-cmd-perl,
 libchi-perl,
 libclass-accessor-perl,
 libclass-inspector-perl,
 libdbd-sqlite3-perl,
 libdbi-perl,
 libdigest-sha-perl,
 libfile-copy-recursive-perl,
 libfile-homedir-perl,
 libfile-share-perl,
 libfile-sharedir-perl,
 libfindbin-libs-perl,
 libgraph-perl,
 libgraph-writer-dsm-perl (>= 0.005),
 libgraph-writer-dot-perl,
 libjson-perl,
 liblist-compare-perl,
 libmojolicious-perl,
 libstatistics-descriptive-perl,
 libterm-progressbar-perl,
 libyaml-perl,
 libyaml-tiny-perl,
 libzeromq-perl
Standards-Version: 3.9.1
Homepage: http://analizo.org

Package: analizo
Architecture: all
# Please do not update the Depends: field directly. Update Makefile.PL first,
# then run debian/refresh script
Depends:
 ${misc:Depends},
 ${perl:Depends},
 doxyparse (>= 1.8.11),
 g++ (>= 4.8~),
 gcc (>= 4.8~),
 git,
 man,
 ruby,
 sloccount,
 sqlite3,
 libapp-cmd-perl,
 libchi-perl,
 libclass-accessor-perl,
 libclass-inspector-perl,
 libdbd-sqlite3-perl,
 libdbi-perl,
 libdigest-sha-perl,
 libfile-copy-recursive-perl,
 libfile-homedir-perl,
 libfile-share-perl,
 libfile-sharedir-perl,
 libfindbin-libs-perl,
 libgraph-perl,
 libgraph-writer-dsm-perl (>= 0.005),
 libgraph-writer-dot-perl,
 libjson-perl,
 liblist-compare-perl,
 libmojolicious-perl,
 libstatistics-descriptive-perl,
 libterm-progressbar-perl,
 libyaml-perl,
 libyaml-tiny-perl,
 libzeromq-perl
Recommends: graphviz
Description: multi-language source code analysis toolkit
 Analizo parses source code in multiple languages and report useful information
 about it, such as module dependency, source code metrics and more.
 .
 Analizo uses doxyparse to parse the source code, and is currently tested and
 expected to work well with C, C++ and Java source code.
